@import '../../../1_settings/z-index';
@import '../../../6_organisms/product-stamp';
@import '../../cta';

:host {
	display: block;
	max-width: none;
	width: 100%;

	@include media-query($size: $stamp-breakpoint) {
		max-width: $stamp-max-width;
	}

	&[data-type='card'] {
		.cta {
			&-caption {
				@include cta-flex-caption();
			}
		}

		figure {
			@include cta-flex-figure;
		}

		a:hover + figure {
			@include cta-flex-figure-hover;
		}
	}

	&[data-type='image'] {
		.cta {
			&-caption {
				@include cta-floating-caption();
			}
		}

		figure {
			@include cta-floating-figure;
		}
	}

	cdx-card {
		height: 100%;

		@include cta-init();
	}

	.cta {
		&-cover {
			bottom: 0;
			display: block;
			left: 0;
			margin: 0;
			position: absolute;
			right: 0;
			top: 0;

			@include z-index(100);
		}

		&-caption {
			&--underlay {
				@include cta-caption-underlay();
			}
		}
	}
}
