@import '../../../1_settings/_config';
@import '../../../4_atoms/heading';
@import '../../../4_atoms/list';
@import '../../../4_atoms/button';
@import '../../../5_molecules/accordion';
@import '../../../2_tools/mixins/media-query';
@import '../../../2_tools/mixins/apply-spacing';

:host {
	display: block;

	@include media-query($size: mobile) {
		@include section-margin($size: default);
	}

	h3 {
		@include heading-underlined();
		@include accordion-icon();

		cursor: pointer;
		padding-right: $spacing-12;
		position: relative;

		@include media-query($size: mobile, $max: true) {
			@include accordion-item-header();
		}

		&.open {
			@include accordion-icon($state: open);
		}
	}

	.filtersContent {
		overflow: hidden;
	}

	::ng-deep {
		ul {
			@include media-query($size: mobile, $max: true) {
				@include accordion-init();
			}

			@include list-init($reset: true);

			li {
				font-size: map-deep-get($config, sizes, paragraph, small);

				@include media-query($size: mobile, $max: true) {
					&:not(:last-child) {
						margin-bottom: 0;
						padding-bottom: 0;
					}
				}

				button {
					@include button-link();

					white-space: normal;

					&:hover {
						color: $link-color;
						text-decoration: underline;
					}
				}

				ul li {
					margin: 0;
					padding: 0;

					&:empty {
						display: none;
					}
				}
			}
		}
	}
}
