@import '../../../1_settings/_config';
@import '../../../1_settings/spacing';
@import '../../../1_settings/z-index';
@import '../../../4_atoms/button';

.btn {
	@include button-init();
}

.btn {
	&--flat {
		@include button-primary-flat($hover: false);
	}
}

.olive {
	bottom: 0;
	display: block;
	position: fixed;
	right: $spacing-4;

	&-openButton {
		background: transparent;
		padding: 0;
		position: relative;

		img {
			@include z-index(100);

			position: relative;
		}

		&Callout {
			@include button-init();
			@include button-state($colour: secondary);

			padding-right: $spacing-8;
			position: absolute;
			right: 2.75rem;
			top: $spacing-3;
			white-space: nowrap;
		}
	}
}
