@import '../../../4_atoms/list.scss';
@import '../../../1_settings/_config.scss';
@import '../../../1_settings/_spacing.scss';
@import '../../../2_tools/mixins/apply-spacing.scss';

// TODO: to move this to the css level once we kill off reskin
:host {
	ul {
		@include list-init($reset: true, $inline: true);
		@include apply-spacing($axis: horizontal);

		li {
			align-items: center;
			display: inline-flex;
			font-size: map-deep-get($config, sizes, paragraph, small);

			cdx-svg-icon {
				&[name='chevron-right'] {
					margin: 0 $spacing-1;
					position: relative;
					top: 1px;
				}
			}
		}
	}
}
