@import '1_settings/_config';
@import '1_settings/radii';
@import '2_tools/mixins/display-flex';
@import '2_tools/mixins/media-query';
@import '2_tools/mixins/triangle';

$pointer-size: 0.75em;

.onboardingModal {
	position: absolute;

	&-pointer {
		@include triangle(top, white, $pointer-size);

		position: absolute;
		top: -#{($pointer-size)};
	}
}
