@import '../../alert';
@import '../../../1_settings/transitions';
@import '../../../2_tools/functions/build-transition';

:host {
	animation: height map-get($transitionSpeed, medium) cubic-bezier(0.36, 0.07, 0.19, 0.97) forwards,
		opacity map-get($transitionSpeed, medium) cubic-bezier(0.36, 0.07, 0.19, 0.97) forwards;
	display: block;
	max-height: 0;
	overflow: hidden;

	&[cananimate='false'] {
		animation: none;
		max-height: 9999px;

		.alert {
			animation: none;
		}
	}
}

.alert {
	&[data-fullwidth='true'] {
		@include alert-init($fullWidth: true);
	}

	&:not([data-fullwidth='true']) {
		@include alert-init();
	}

	&[data-withmargin='false'] {
		margin-bottom: 0;
	}

	&--candismiss {
		@include alert-can-close();
	}

	.alert-icon {
		@include alert-icon();
	}

	&-closeBtn {
		@include alert-close();
	}

	&-label {
		@include alert-label();
	}

	&-cta {
		.alert & {
			@include section-margin($size: default, $side: top);

			@include media-query($size: mobile) {
				@include section-margin($size: default, $side: left);

				flex-basis: 0;
				margin-top: 0;
			}

			flex-basis: 100%;
		}
	}

	&-content {
		.alert & {
			@include alert-content();
		}

		&::ng-deep {
			a {
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	&-description:not(:last-child) {
		@include section-margin($size: default);
	}
}
