@import '../../modal';
@import '../../../2_tools/mixins/media-query';
@import '../../../4_atoms/scrollbar';

@include scrollbar('.modal');

:host.modal {
  // Layout and card formatting get handled by other components
  @include modal($with-card: false, $with-layout: false);

  max-width: map-deep-get($config, modal, width, default);
  overflow-y: auto;
  width: 100%;

  @include modal-width();

  & > * {
    min-height: 100%;
    width: 100%;
  }

  &[modal-mobileFullHeight='true'] {
    @include media-query($size: tablet, $max: true) {
      height: 95vh;
      max-height: 95vh;
    }
  }
}
