@import '../../../1_settings/_config';
@import '../../../2_tools/mixins/apply-spacing';

:host {
	display: block;
	width: 100%;
}

.accordion {
	&-header,
	&-item {
		background-color: white;
	}

	&-header {
		margin-bottom: 2px;
		position: relative;

		h5 {
			margin: 0;
		}

		.accordion-button {
			@include apply-spacing($size: medium);

			background: transparent;
			font-size: 1rem;
			font-weight: 700;
			text-align: left;
			text-decoration: none;
			width: 100%;
		}
	}

	&-toggleIcon {
		display: block;
		height: 16px;
		margin-top: -8px;
		position: absolute;
		right: $spacing-5;
		top: 50%;
		width: 16px;

		&:before,
		&:after {
			background-color: map-deep-get($config, colors, background, dark);
			content: '';
			display: block;
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			transform-origin: 0 0;
			transition: height 0.3s ease-out;
		}

		&:after {
			height: 16px;
			width: 2px;
		}

		&:before {
			height: 2px;
			width: 16px;
		}

		&.active:after {
			height: 2px;
			transition: height 0.3s ease-in;
		}
	}

	&-item {
		height: auto;
		margin-bottom: 0.5rem;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.6s ease-out;

		a {
			text-decoration: underline;

			&:hover,
			&:active {
				text-decoration: none;
			}
		}

		&.active {
			max-height: 1000px;
			overflow: auto;
			transition: max-height 0.6s ease-in;
		}

		.body {
			@include apply-spacing($size: medium);
		}
	}
}
