@import '../../modal';

:host.modal {
	&:not(.modal--positioned) {
		@include media-query($size: tablet-portrait, $max: true) {
			bottom: 0;
			left: 0;
			max-width: map-get($breakpoints, tablet-portrait);
			position: absolute;

			.card {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
	}

	.modal {
		&--canDismiss {
			@include modal-can-close();
		}

		&-closeBtn {
			@include modal-close-newUi();
		}
	}

	.card {
		@include apply-spacing($axis: vertical, $size: large, $scale: false);
	}
}
