<div class="modal-backdrop overlay--opaque" (click)="close()"></div>
<div class="modal-contentContainer">
    <cdx-card
            cdkTrapFocus
            [cdkTrapFocusAutoCapture]="canDismiss"
            [center]="center"
            [padding]="padding"
            [attr.data-size]="size"
            [attr.data-mobile-full-height]="mobileFullHeight"
            roundedCorners="medium">
        <button cdkFocusInitial aria-label="Dismiss modal" class="modal-closeBtn" *ngIf="canDismiss" (click)="close()">
            <cdx-svg-icon name="cross" size="small" fill="dark"></cdx-svg-icon>
        </button>
        <div class="modal-slotContainer">
            <div class="modal-headerSlot">
                <ng-content select="[modal-header]"></ng-content>
            </div>
            <div class="modal-contentSlot">
                <ng-content select="[modal-content]"></ng-content>
            </div>
            <div class="modal-footerSlot">
                <ng-content select="[modal-footer-primary]"></ng-content>
                <ng-content select="[modal-footer-secondary]"></ng-content>
            </div>
        </div>
    </cdx-card>
</div>