@import '../../../1_settings/spacing';
@import '../../../2_tools/mixins/display-flex';
@import '../../../2_tools/mixins/list-reset';
@import '../../../6_organisms/product-stamp';
@import '../../carousel';

:host {
	position: relative;
	width: 100%;

	@include display-flex($justify: flex-start, $flex-wrap: wrap);
	@include section-margin($size: default);
}

.carousel {
	&-track {
		grid-column: span 3;
		overflow: hidden;
		position: relative;
		width: 100%;

		@include apply-spacing($size: default, $axis: vertical);

		@include media-query($size: mobile) {
			margin-left: -#{map-deep-get($config, spacings, default, h)};
		}

		@include media-query($size: tablet) {
			@include apply-spacing($size: default);
		}
	}

	&-wrapper {
		@include display-flex($justify: flex-start);

		width: 100%;
	}

	&-button {
		@include carousel-button();

		@include media-query($size: mobile) {
			top: map-deep-get($config, images, size, product, stamp, desktop);
		}

		&--next {
			@include carousel-button-next();
		}

		&--prev {
			@include carousel-button-prev();

			@include media-query($size: mobile) {
				left: $spacing-4;
			}
		}
	}

	&-pagination {
		display: block;
		flex: 1 0 100%;
		width: 95%;

		ul {
			@include list-reset();

			text-align: center;

			li {
				display: inline-block;
				margin: 0 0 0 $spacing-2;

				&.currentPage {
					button {
						background-color: map-deep-get($carouselConfig, pagination, current, background);
						height: map-deep-get($carouselConfig, pagination, current, size);
						width: map-deep-get($carouselConfig, pagination, current, size);
					}
				}

				button {
					background-color: map-deep-get($carouselConfig, pagination, default, background);
					border: none;
					border-radius: 50%;
					height: map-deep-get($carouselConfig, pagination, default, size);
					padding: 0;
					width: map-deep-get($carouselConfig, pagination, default, size);
				}
			}
		}
	}
}

figure {
	display: none;

	@include media-query($size: tablet) {
		display: block;
		margin-bottom: $spacing-3;
		margin-top: $spacing-3;
		max-width: $stamp-max-width;
		overflow: hidden;
		width: 100%;
	}
}

article,
cdx-cta {
	display: none;

	@include media-query($size: tablet) {
		display: block;
		flex: 0 0 auto;

		@include apply-spacing($size: default, $axis: vertical);
	}

	& + .carousel-track {
		margin-left: 0;
	}
}

:host ::ng-deep {
	[data-carousel='true'] {
		column-gap: 0;
		grid-column-gap: 0;
		grid-template-columns: 0;
		margin: 0;

		@include display-flex($justify: flex-start);

		& > * {
			flex-shrink: 0;
			margin-right: $spacing-4;
		}
	}
}
